# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environments
env/
venv/
*.venv/

# Ignore IDE and editor specific files
.vscode/       # Visual Studio

# Ignore log files
*.log

# Ignore temporary files
*.bak
*.tmp
*.swp



# Ignore package management files
*.egg-info/
*.egg
dist/
build/
*.tar.gz
*.zip


# Ignore environment-specific config files (e.g., local configurations)
config.local.json
.env
